<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div ng-controller="myController">
            <div>Profile name: {{profile.name}}</div>
            <div>Profile name: {{profile.age}}</div>
            <div>Profile married: {{profile.isMarried ? 'Đã kết hôn' : "Đã chết"}}</div>
            <div>Profile street: {{profile.address.street}}</div>
            <div>Profile city: {{profile.address.city}}</div>
            <div ng-bind="profile.address.state"></div>
            <div>Profile runing: {{profile.running()}}</div>
            <input type="text" ng-model="profile.name" />
            {{count}}
            <button ng-mousemove="increment()">Button</button>

            <hr />
            <div ng-show="profile.isMarried">Đã có gia đình</div>
        </div>
        <div ng-controller="cartController">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in newCart">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <button ng-click="removeItem(item.id)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="./angularjs.min.js"></script>
        <script>
            angular
                .module("myApp", [])
                .controller("myController", function ($scope) {
                    $scope.profile = {
                        name: "John",
                        age: 30,
                        isMarried: false,
                        address: {
                            street: "123 Main St",
                            city: "New York",
                            state: "NY",
                        },
                        running: function () {
                            return `${$scope.profile.name} is running`;
                        },
                    };
                    $scope.count = 0;
                    $scope.increment = function () {
                        $scope.count++;
                    };
                })
                .controller("cartController", function ($scope) {
                    $scope.carts = [
                        { id: 1, name: "Iphone", price: 1000 },
                        { id: 2, name: "Samsung", price: 2000 },
                        { id: 3, name: "Nokia", price: 3000 },
                    ];
                    $scope.removeItem = function (id) {
                        $scope.carts = $scope.carts.filter((item) => item.id !== id);
                    };
                });
        </script>
    </body>
</html>
